{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block main %}
    <section>
        <h2>Add Cupcake</h2>
        <form id="cupcake-form">
            <label>
                <b>Flavor</b>
                <input id="flavor" required type="text">
            </label>
            <label>
                <b>Rating (0-10)</b>
                <input id="rating" min="0" max="10" step="0.1" required type="number">
            </label>
            <label>
                <b>Size</b>
                <select id="size">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </label>
            <label>
                <b>Image (URL)</b>
                <input id="image" type="url">
            </label>
            <button type="submit">Add</button>
        </form>
    </section>
    <section>
        <h2>Cupcakes List</h2>
        <ul id="cupcakes"></ul>
    </section>
{% endblock main %}
